[submodule "packages/nomad-FAIR"]
	path = packages/nomad-FAIR
	url = https://gitlab.mpcdf.mpg.de/nomad-lab/nomad-FAIR.git
[submodule "packages/test_plugin"]
	path = packages/test_plugin
	url = https://github.com/lrvie/test_plugin.git
